{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/lib/(.*)$",
    "^@/styles/(.*)$",
    "^@/public/(.*)$",
    "^@/hooks(.*)$",
    "^@/utils(.*)$",
    "^@/types/(.*)$",
    "^@/constants(.*)$",
    "^@/api(.*)$",
    "^@/components/(.*)$",
    "^@/(.*)$",
    "^[./]",
    "^[../]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
